<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  <img class="img-responsive" src="assets/2019.png"height="100%"width="100%">
 <div class="b">
  <table width="100%">
   <tr>
   <th>
      <img class="img-responsive" src="assets/31.png"height="70"width="70">
   </th>
   <th>
    
     <h3 style="font-size:2vw;">NEW YEAR PARTY</h3>
     <p style="font:caption">location - Delhi</p>
     <p style="font:caption">8:00pm - 1:00am</p>
   </th>

  
  <th><button class="btn" type="button"><span>Photos</span></button></th>
  <th><button class="btn" type="button"><span>Videos</span></button></th>
  <th><button class="btn" type="button"><span>More</span></button></th>
<th> <font color=""><pre>             </pre></font> </th>
  <th><br>
    <a href="#" class="action-button shadow animate green">going</a></th>
  <th><br>
    <a href="#" class="action-button shadow animate green">interested</a></th>
   </tr>

 </table>
 <table>
   <tr>
     <td>
        <app-login></app-login>
     </td>
   </tr>
 </table>

